
<div *ngIf="loggedTrader">Welcome, {{ loggedTrader.name }}.<br>You have {{ loggedTrader.money }}$ remaining.</div>

<h2>List of Owned Shares</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount Owned</th>
            <!-- Add other headers here -->
        </tr>
    </thead>
    <tbody *ngIf="ownedShares">
        <tr *ngFor="let share of ownedShares">
            <td>{{ share.id }}</td>
            <td>{{ share.amount }}</td>
            <!-- Add other columns here -->
        </tr>
    </tbody>
</table>